beautifulsoup4==4.12.3
chromadb==1.0.7
cohere==5.15.0
fastapi==0.115.9
fastapi-cli==0.0.7
pydantic==2.11.3
pydantic-settings==2.1.0
pydantic_core==2.33.1
python-dotenv==1.1.0
urllib3==2.4.0
uvicorn==0.27.1
uvloop==0.21.0
